<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniTasker</title>
    <link rel="icon" type="image/png" href="images/ut.png"/>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<header class="header">
    <div class="header-top"></div>

    <div class="header-nav">
        <div class="logo">
             <img src="images/logo.png" alt="UniTasker" class="logo">
        </div>

        <nav class="menu">
                <a href="#" id="inicio">Início</a>

                <div class="dropdown">
                    <a href="#" id="categorias">Categorias</a>
                    <div class="dropdown-content" id="dropdown-menu"></div>
                </div>

                <div class="search-container">
                    <a href="#" id="procurar">Procurar</a>
                    <div class="search-wrapper" id="search-wrapper">
                        <input type="text" class="search-input" id="search-input" placeholder="Buscar cursos...">
                        <span class="search-icon">🔍</span>
                        <div class="search-results" id="search-results"></div>
                    </div>
                </div>
            </nav>

        <div class="btn-group">
            <a href="../Entrar/index.html" class="btn entrar">Entrar</a>
            <a href="../Criar conta/index.html" class="btn criar">Criar Conta</a>
        </div>
    </div>
</header>



<footer class="footer">
    <div class="footer-top"></div>

    <div class="footer-content">
        <div class="footer-column logo-info-column">
            <img src="images/logo2.png" alt="UniTasker" class="logo-footer">
            <h3>UT UniTasker</h3>
            <p>Conectando estudantes para alcançar o sucesso acadêmico juntos.</p>
        </div>

        <div class="footer-column">
            <h3>Links Rápidos</h3>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Procurar</a></li>
                <li><a href="#">Sobre Nós</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Suporte</h3>
            <ul>
                <li><a href="#">Ajuda</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Política de Privacidade</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2023 UT UniTasker. Todos os direitos reservados.</p>
    </div>

    <script src="script-pesq-cat.js"></script>
    
</footer>