<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniTasker - Criar Conta</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/png" href="images/ut.png"/>



</head>
<body>

<div class="background-lines"></div>

<header class="top-bar"></header>

<main class="container">
    
    <div class="logo-section">
        <img src="images/logo.png" class="logo-unitasker" alt="UniTasker">
    </div>

    <div class="form-card">
        <input type="email" placeholder="Email*">
        <input type="password" placeholder="Senha*">
        <p class="password-hint">A senha deve possuir mais de 8 caracteres</p>

        <button class="btn-main">Entrar</button>

        <div class="divider">
            <span>Ou</span>
        </div>

        <button class="btn google">Continuar com Google</button>
        <button class="btn facebook">Continuar com Facebook</button>
        <button class="btn apple">Continuar com Apple</button>
    </div>

</main>

<footer class="bottom-bar"></footer>

</body>
</html>
