{% extends "base.html" %}

{% block title %}UniTasker - Cadastro{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
{% endblock %}

{% block content %}

<main class="container">

    
    
    
    <form class="form-card" action="{{ url_for('usuario.cadastro') }}" method="POST" onsubmit="return validarSenhas()">
        <div class="logo-section">
            <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo-unitasker" alt="UniTasker">
        </div>
        
        <p class="login-link">Já possui uma conta? <a href="{{ url_for('usuario.login') }}">Clique aqui.</a></p>

        <input type="email" name="email" placeholder="Email*" required>

        <input name="username" placeholder="Nome de usuário*" required>

        <input name="nome" placeholder="Nome*" required>
        
        <input type="password" name="senha" id="senha" placeholder="Senha*" required>
        
        <input type="password" name="confirmar_senha" id="confirmar_senha" placeholder="Confirmar Senha*" required>
        
        <p class="password-hint">A senha deve ter mais de 8 caracteres, incluir ao menos um caractere especial e uma letra maiúscula.</p>

        <div id="js-error-message" style="display:none; background-color: #ffebee; color: #c62828; padding: 10px; border-radius: 4px; border: 1px solid #ef9a9a; margin-bottom: 15px; font-size: 0.9em; text-align: center;">
        </div>

        <button type="submit" class="btn-main">Criar Conta</button>

        <div class="divider">
            <span>Ou</span>
        </div>

        <button type="button" class="btnC google">Continuar com Google</button>
        <button type="button" class="btnC facebook">Continuar com Facebook</button>
        <button type="button" class="btnC apple">Continuar com Apple</button>
    </form>
    <script src="{{ url_for('static', filename='js/script-cadastro.js') }}"></script>
</main>
{% endblock %}