{% extends "base.html" %}

{% block title %}UniTasker - Início{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}

<main class="container">
    
    
    <form class="form-card" action="{{ url_for('usuario.login') }}" method="POST">
        <div class="logo-section">
            <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo-unitasker" alt="UniTasker">
        </div>
        <p class="login-link">Ainda não possui uma conta? <a href="{{ url_for('usuario.cadastro') }}">Clique aqui.</a></p>
        <input type="text" name="login" placeholder="Email ou Usuário*" required>
        
        <input type="password" name="senha" placeholder="Senha*" required>

        <button type="submit" class="btn-main">Entrar</button>

        <div class="divider">
            <span>Ou</span>
        </div>

        <button type="button" class="btnC google">Continuar com Google</button>
        <button type="button" class="btnC facebook">Continuar com Facebook</button>
        <button type="button" class="btnC apple">Continuar com Apple</button>
    </form>

</main>

{% endblock %}